@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-grostesk: "Space Grotesk", sans-serif;
  --shadow-subcontainer:
    inset 0px 0px 10px rgb(255, 255, 255, 0.7),
    inset 0px -2px 10px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.2);
  --shadow-p3c2container: 0px 10px 45px rgba(0, 0, 0, 0.2);
}
